<header class="header">
	<div class="container header__container">
		<div class="header__icon">
			<a href="#" class="header__logo">
				<img src="../assets/images/Icon.png" alt="">
			</a>
			<div class="header__logo-title">
				<p>Foundation</p>
				<span>Startup landing template</span>
			</div>
		</div>
		<div class="header__menu menu">
			<div class="menu__icon">
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li><a href="" class="menu__link menu__link_active">Home</a></li>
					<li><a href="" class="menu__link">Stories</a></li>
					<li>
						<a href="" class="menu__link">Library</a>
						<span class="dwMenu"></span>
						<ul class="menu__sub-list">
							<li>
								<a href="" class="menu__sub-link">Acquire Users</a>
								<p>Work with the tools and services you use.</p>
							</li>
							<li>
								<a href="" class="menu__sub-link">Engage Customers</a>
								<p>Get started with our simple snippet of JavaScript.</p>
							</li>
							<li>
								<a href="" class="menu__sub-link">Book Appointments</a>
								<p>We offer measures like 2FA to ensure the safety.</p>
							</li>
							<li>
								<a href="" class="menu__sub-link">Generate Leads</a>
								<p>Become a better designer by learning this courses.</p>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<a href="#" class="button menu__button">Get Started</a>
		</div>
	</div>
</header>