@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;

400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*FONTS===========================================================================================*/

body,
input,
button,
textarea {
  font-family: 'Raleway', sans-serif;
}

/*WRAPPER===========================================================================================*/

::-moz-selection {
  background: #ff7d7d;
  color: #fff;
}

::selection {
  background: #ff7d7d;
  color: #fff;
}

::-moz-selection {
  background: #ff7d7d;
  color: #fff;
}

::-webkit-selection {
  background: #ff7d7d;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*MENU===========================================================================================*/

.header {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  padding: 30px 0;
}

.header__active {
  background-image: url("../img/header/logo.png");
  background-repeat: no-repeat;
  background-position: 9% center;
  background-size: 20% auto;
  padding: 25px 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__active img {
  display: none;
}

.header__burger {
  display: none;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 250px;
  min-width: 180px;
  width: 100%;
  height: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list_active a {
  color: #010101;
}

.menu__list li {
  margin: 0 0 0 15px;
}

.menu__link {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px;
  color: #787878;
}

/*CONTAINER===========================================================================================*/

.container {
  max-width: 1070px;
  padding: 0px 15px;
  margin: 0 auto;
}

.content {
  padding: 160px 0 0 0;
}

/*HEADER===========================================================================================*/

.portfolio {
  padding: 80px 0 50px 0;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  padding: 0 30px;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
}

.portfolio__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  padding: 0 30px;
}

.portfolio__photo img {
  max-width: 250px;
  width: 100%;
  height: auto;
  min-width: 220px;
  border-radius: 50%;
}

/*BACKGROUND===========================================================================================*/

.bg {
  padding: 60px 0 50px 0;
}

.bg__body {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}

.bg__body iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  font-size: 18px;
  line-height: 20px;
}

.title__name {
  width: 300px;
  text-align: left;
  color: #fff;
  padding: 5px 0 5px 10px;
  background-color: #253d4a;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 50px 0;
}

.title__img {
  margin: 0 0 20px 0;
}

.title__img img {
  width: 80px;
  height: auto;
}

/*SKILLS===========================================================================================*/

.skills {
  padding: 80px 0 50px 0;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.skills__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 20px;
}

.skills__col:nth-last-child(-n+1) {
  margin: 0;
}

.skills__col-name {
  font-size: 17px;
  font-weight: 600;
}

.skills__list li {
  margin: 15px 0;
  font-size: 14px;
}

.skills__link {
  color: #000;
  font-weight: bold;
}

.skills__link:after {
  height: 1px;
}

/*SKILLS===========================================================================================*/

.featured {
  padding: 50px 0;
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__name {
  line-height: 22px;
}

.item-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.item-featured__img {
  margin: 0 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.item-featured__img img {
  width: 100%;
  max-width: 550px;
  height: auto;
  -webkit-box-shadow: 0px 0px 15px #414141;
          box-shadow: 0px 0px 15px #414141;
}

.item-featured__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 14px;
}

.item-featured__title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.item-featured__title a {
  color: #000;
}

.item-featured__info {
  font-size: 15px;
  line-height: 18px;
}

/*PROJECTS===========================================================================================*/

.projects {
  padding: 50px 0;
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-proj__title {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 10px 0;
  position: relative;
}

.item-proj__title a {
  color: #000;
}

.item-proj__title:after {
  content: '←';
  position: absolute;
  display: inline-block;
  left: 80px;
  color: #ff7d7d;
}

.item-proj__text {
  margin: 0 0 30px 0;
  font-size: 15px;
  line-height: 22px;
}

.item-proj__text a {
  font-weight: bold;
  color: #000;
}

/*FOOTER===========================================================================================*/

.footer {
  padding: 20px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -20px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px;
  white-space: nowrap;
}

.footer__links {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.footer__link {
  color: #ff7d7d;
  font-size: 16px;
  margin: 0 0 0 40px;
}

@media (max-width: 950px) {
  .content {
    padding: 100px  50px 0 100px;
  }
}

@media (max-width: 910px) {
  .menu__list li {
    margin: 0 0 0 10px;
  }

  .menu__link {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .item-featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-featured__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0;
  }

  .item-featured__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 10px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 850px) {
  .skills__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: url("../img/header/logo.png");
    background-repeat: no-repeat;
    background-size: 230px auto;
    background-position: 50px center;
    padding: 25px 0;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .header img {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body.active {
    top: 0;
    z-index: 2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin: 20px 0;
  }

  .menu__link {
    font-size: 26px;
  }

  .content {
    padding: 50px 0 0 0;
  }

  .portfolio__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio__photo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 20px 0;
    text-align: center;
  }

  .bg {
    padding: 80px 0 20px 0;
  }

  .text {
    font-size: 16px;
  }

  .skills {
    padding: 80px 0 20px 0;
  }

  .featured {
    padding: 20px 0;
  }

  .featured__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .projects {
    padding: 20px 0;
  }

  .projects__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }

  .footer__text {
    margin: 0 0 15px 0;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__link {
    margin: 0 0 17px 20px;
  }
}

@media (max-width: 600px) {
  .skills__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills__col {
    margin: 0 0 20px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 500px) {
  .header {
    background-position: 15px center;
  }
}

@media (max-width: 400px) {
  .skills__body {
    text-align: center;
  }

  .skills__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}