@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;

400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*FONTS===========================================================================================*/

body,
input,
button,
textarea {
  font-family: 'Raleway', sans-serif;
}

/*WRAPPER===========================================================================================*/

::-moz-selection {
  background: #ff7d7d;
  color: #fff;
}

::selection {
  background: #ff7d7d;
  color: #fff;
}

::-moz-selection {
  background: #ff7d7d;
  color: #fff;
}

::-webkit-selection {
  background: #ff7d7d;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*CONTAINER===========================================================================================*/

.container {
  max-width: 1070px;
  padding: 0px 15px;
  margin: 0 auto;
}

.content {
  visibility: visible;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.694, 0, 0.335, 1) 0s;
  -o-transition: opacity 1s cubic-bezier(0.694, 0, 0.335, 1) 0s;
  transition: opacity 1s cubic-bezier(0.694, 0, 0.335, 1) 0s;
  padding: 0 100px 0 200px;
}

.content__scroll {
  visibility: visible;
  opacity: 1;
}

/*HEADER===========================================================================================*/

.header {
  padding: 0 0 50px 0;
}

.header__row {
  height: 100vh;
  padding: 20px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__hello {
  font-size: 40px;
}

.header__email {
  display: block;
  font-size: 20px;
  font-style: italic;
  position: relative;
}

.header__link {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  padding: 0 0 5px 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -30px;
}

.about__bio {
  padding: 0 30px;
  font-size: 35px;
  max-width: 600px;
}

.about__bio span {
  font-weight: bold;
}

.about__photo {
  padding: 0 30px;
}

.about__photo img {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px #414141;
          box-shadow: 0px 0px 15px #414141;
}

.link {
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #FF7D7D;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.link:hover {
  color: #FF7D7D;
}

.link:hover:after {
  left: 0;
  width: 100%;
}

.link_b {
  color: #000;
}

.link_b:after {
  background-color: #000;
  height: 1px;
}

.link_b:hover {
  color: #000;
}

/*BACKGROUND===========================================================================================*/

.bg {
  padding: 50px 0;
}

.bg__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.bg__title {
  padding: 0 40px;
}

.text {
  padding: 0 40px;
  font-size: 18px;
  line-height: 20px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.title__name {
  width: 120px;
  text-align: center;
  color: #FF7D7D;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.title__img {
  margin: 0 0 20px 0;
}

.title__img img {
  width: 80px;
  height: auto;
}

/*SKILLS===========================================================================================*/

.skills {
  padding: 50px 0;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.skills__title {
  padding: 0 40px;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
  margin: 0 -20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.skills__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 20px;
}

.skills__col:nth-last-child(-n+1) {
  margin: 0;
}

.skills__col-name {
  font-size: 17px;
  font-weight: 600;
}

.skills__list li {
  margin: 15px 0;
  font-size: 14px;
}

.skills__link {
  color: #000;
  font-weight: bold;
}

.skills__link:after {
  height: 1px;
}

/*SKILLS===========================================================================================*/

.featured {
  padding: 50px 0;
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.featured__title {
  padding: 0 40px;
}

.featured__body {
  padding: 0 40px;
}

.title__name {
  line-height: 22px;
}

.item-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.item-featured__img {
  margin: 0 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.item-featured__img img {
  width: 100%;
  max-width: 550px;
  height: auto;
  -webkit-box-shadow: 0px 0px 15px #414141;
          box-shadow: 0px 0px 15px #414141;
}

.item-featured__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 14px;
}

.item-featured__title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.item-featured__title a {
  color: #000;
}

.item-featured__info {
  font-size: 15px;
  line-height: 18px;
}

/*PROJECTS===========================================================================================*/

.projects {
  padding: 50px 0;
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.projects__title {
  padding: 0 40px;
}

.projects__body {
  padding: 0 40px;
}

.item-proj__title {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 10px 0;
  position: relative;
}

.item-proj__title a {
  color: #000;
}

.item-proj__title:after {
  content: '←';
  position: absolute;
  display: inline-block;
  left: 80px;
  color: #ff7d7d;
}

.item-proj__text {
  margin: 0 0 30px 0;
  font-size: 15px;
  line-height: 22px;
}

.item-proj__text a {
  font-weight: bold;
  color: #000;
}

/*FOOTER===========================================================================================*/

.footer {
  padding: 20px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -20px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px;
  white-space: nowrap;
}

.footer__links {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.footer__link {
  color: #ff7d7d;
  font-size: 16px;
  margin: 0 0 0 40px;
}

@media (max-width: 950px) {
  .content {
    padding: 0 50px 0 100px;
  }
}

@media (max-width: 900px) {
  .item-featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-featured__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0;
  }

  .item-featured__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 10px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 850px) {
  .skills__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0;
  }

  .header__hello {
    font-size: 25px;
  }

  .header__email {
    font-size: 16px;
    line-height: 24px;
  }

  .about__bio {
    font-size: 20px;
  }

  .bg {
    padding: 20px 0;
  }

  .bg__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .text {
    font-size: 16px;
  }

  .skills {
    padding: 20px 0;
  }

  .featured {
    padding: 20px 0;
  }

  .featured__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .projects {
    padding: 20px 0;
  }

  .projects__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }

  .footer__text {
    margin: 0 0 15px 0;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__link {
    margin: 0 0 17px 20px;
  }
}

@media (max-width: 600px) {
  .skills__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills__col {
    margin: 0 0 20px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 550px) {
  .header__row {
    padding: 0;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__photo {
    margin: 20px 0;
  }

  .about__photo img {
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .skills__body {
    text-align: center;
  }

  .skills__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}