.about {
	/* .about__body */
	&__body {
		position: relative;

		display: flex;
		align-items: flex-start;
		@media (max-width: 900px) {
			flex-direction: column;
			align-items: center;
		}
	}
	/* .about__info */
	&__info {
		margin: 0 40px 0 0;

		text-align: justify;

		@media (max-width: 900px) {
			order: 2;

			margin: 0;
		}
	}
	/* .about__picture */
	&__picture {
		margin: 0 0 0 40px;
		img {
			max-width: 300px;
			height: auto;
			border-radius: 50%;

			object-fit: contain;
			@media (max-width: 500px) {
				max-width: 200px;
			}
		}

		@media (max-width: 900px) {
			order: 1;

			margin: 0 0 30px 0;

		}
	}
}
