.after {
	transform: rotate(-90deg);

	position: absolute;
	
	top: 25%;

	background-color: #fff;
	height: 70px;
	width: 215px;

	left: -216px;

	font-size: 70px;
	text-align: center;
	line-height: 1;
	
	color: $gray;

	@media (max-width: 767px) {
		font-size: 3em;
		width: 180px;

		left: -130px;
	}
	
	@media (max-width: 500px) {
		font-size: 2em;

		left: -86px;
		width: 120px;
		height: 40px;

		top: 20%;
		transform: translateY(-20%) rotate(-90deg);
	}

	&--skills {
		top: 10%;
	}
	&--work{
		top: 15%;
	}
	&--personal {
		width: 310px;
		left: -259px;
		top: 26%;
		@media (max-width: 767px) {
			width: 211px;
			left: -144px;
		}
		
		@media (max-width: 500px) {
			width: 145px;
		    left: -97px;
		}
	}

}

.sm-after {
	font-size: 25px;
	line-height: 5px;
	position: relative;
	left: 12px;
	text-align: left;

	@media (max-width: 767px) {
		font-size: 20px;
		text-align: center;

		left: 0;

	}
	
	@media (max-width: 500px) {
		font-size: 14px;
		
	}
	&--proj {
		left: 6px;
		@media (max-width: 767px) {
		left: 0;
		}
	}
}