.link {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 2px;
		background: $actions;
		transition: width .3s ease;
		overflow: hidden;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
	&--contact {
		&:after {
			background: $lvl;
		}
	}
}

